{
    "bracketSpacing": false,
    "embeddedLanguageFormatting": "off",
    "endOfLine": "lf"
    "printWidth": 120,
    "proseWrap": "never",
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false,
}
